

body{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    background-size: cover;
}
html{
    min-height: 100%;
    font-family: 'Macondo', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Nunito', sans-serif;
    
    color: #40739e;
}

a{
    text-decoration: none;
    color: #077043;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

#header{
    color: #192a56;
}

.section{
    background-color: #f5f6fa;
    border: 4px solid #e1b12c;
    border-radius: 10px;
    padding: 15px;
}

#output{
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#results{
    flex-grow: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.movecard{
    flex-shrink: 1;
    border: 5px solid #353b48;
    border-radius: 50%;
    
}

#scores{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7f8fa6;
}

#scores>div{
    
    color: #7f8fa6;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.currentScore{
    color: #40739e;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 4px #e1b12c;
}

.scoreIcon{
    color: #dcdde1;
    vertical-align: middle;
}

.resetButton{
    font-size: 40px;
    color: #e1b12c;
    padding-top: 30px;
    text-shadow: 0 0 2px #e1b12c;
    transition: 0.5s;
}

.resetButton:hover{
    transform:scale(1.1);
    transform:rotateY(30deg);
    text-shadow: 0 0 2px #000;
}

#controls{
    width: 90%;
    justify-content: center;
    gap: 20px;
}

.movebutton{
    flex-shrink: 1;
    border-radius: 50%;
    filter: grayscale(35%);
    transition: .5s ;
}

.movebutton:hover{
    filter: grayscale(0);
    box-shadow: 0 0 4px #e1b12c;
    transform: rotate(30deg);
}

.movebutton:active{
    transform: rotate(360deg);
    box-shadow: 0 0 4px #e84118;
}

#finalResult{
    width: 90%;
    text-align: center;
    
}

.hideSection{
    display: none;
}

.showSection{
    display: flex;
}

